<%= form_with(model: meal) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :calories %>
    <%= form.text_field :calories %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
