<h2>Meals</h2>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Calories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <td><img src="<%= meal.thumbnail %>"> </td>
        <td><%= meal.name %></td>
        <td><%= meal.quantity %> <%= meal.units %></td>
        <td><%= meal.calories %></td>
        <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4>New Meal</h4>

<%= render 'form', meal: Meal.new %>
